# ignore venv
/venv/

# PyCharm IDE
/.idea/

# Resources
/res/

.DS_Store

src/core/ast_processing/__pycache__/
src/core/ast_processing/ast_classes/__pycache__/
src/core/ast_processing/create_asts/__pycache__/
src/core/util/__pycache__/
src/core/util/string_utils/__pycache__/
